    *{
    list-style : none;
    text-decoration: none; /* a태그 밑줄 없애줌 */
    border-collapse: collapse;
    margin: 0px;
    padding:0px;
    color: #000;
    }

    .px18{
        font-size: 18px;
        font-weight: 100;
    }

    /* intro */

    .intro_bg{
        background-image: url("");
        width: 100%;
        height: auto;
        background: lightsalmon;
    }
    
    .header{
        display: flex;
        width:1400px;
        margin : auto; /*가운데로 들어옴*/
        height: 86px;
        line-height: 86px;
        gap: 55px;        
    }

    .logo{
        flex:1;
        text-align:center;        
    }

    .logo > a{
        color:#000;
        font-weight: bold;
    }

    .nav{
        flex: 7;
        display:flex;
        justify-content:flex-start;
        /* gap: 120px; */
    }

    .nav > li{
        padding: 0 60px;
    }
    
    .nav > li> a{
        color:#000;
        font-weight: bold;
    }

    .nav a:hover{
        background-color: #fff;
        background-size: auto;
        padding : 5px;
    }

    .dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        list-style-type: none;
        padding: 0;
        margin: 0;
        min-width: 160px;
    }

    /* 서브메뉴 스타일 */
    .dropdown li {
        width: 170px;
        text-align: center;
        border: 1px solid #000;
        border-radius: 10px;
    }

    .dropdown li a {
        /* padding: 10px 20px; */
        color: #000;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }

    .dropdown li a:hover {
        background-color: rgb(210, 250, 213);
        text-decoration: underline;
    }

    /* 부모 항목에 마우스 오버시 서브메뉴 보이기 */
    .nav > li:hover .dropdown {
        display: block;
    }

    /* 전체 클리어 스타일 */
    .clear {
        clear: both;
    }

    .my_page{
        flex:2;
        display:flex;
        justify-content:flex-start;
        text-align: center;
        /* gap: 40px; */
    }

    .my_page > li{
        padding: 0 30px;
    }
    
    .my_page > li> a{
        color:#000;
        font-weight: bold;
        
    }


    /* main */

    .main_bg{
        background-image: url("/CT3/image/test.png");
        background-size : 400px 400px;
        background-repeat : no-repeat;
        background-position: center;
        width:100%;
        height: 400px;
        margin: auto;
    }

    .main_text{
        text-align: center;
        margin: auto;
    }

    /* main_text1 */

    .main_text1{
        width: 100%;
        height: 659px;
        border-top: 1px solid #000;
        margin-top: 50px;
    }
    
    .main_text1 > h1{
        padding-top : 50px;
        text-align: center;
    }
    
    .main_text1 .px24{
        text-align: center;
    }
    
    .service{
        width:1280px;
        display: flex;
        margin: 49px auto;
        height: 427px;
    }
    
    .service > .cock_photo > img {
        border-radius: 5%;
        width:600px;        
    }

    .service > .px18{
        flex: 1;
        padding : 20px;
        margin: auto;
    }
    
    .service > .px18 > h2{
        margin-bottom : 27px;
    }

    /* main_text2 */

    .main_text2{
        width: 100%;
        height: 659px;
        margin-top: 150px;
        border-top: 1px solid #000;
    }
    
    .main_text2 > h1{
        padding-top : 50px;
        text-align: center;
    }
    
    .main_text2 .px24{
        text-align: center;
    }
    
    .ranking{
        width:1280px;
        display: flex;
        margin: 49px auto;
        height: 427px;
    }
    
    .ranking > .rank > img {
        border-radius: 5%;
        width:600px;        
    }

    .ranking > .px18{
        flex: 1;
        padding : 20px;
        margin: auto;
    }
    
    .ranking > .px18 > h2{
        margin-bottom : 27px;
    }